USE [W_GnBD]
ALTER TABLE [dbo].[USERAUTHORIZATION] WITH NOCHECK ADD CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW] FOREIGN KEY([CODPSW]) REFERENCES [dbo].[USERLOGIN] ([CODPSW])
ALTER TABLE [dbo].[USERAUTHORIZATION] NOCHECK CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW]

ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] NOCHECK CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] NOCHECK CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[PROAGENTE_IMOBILIARIO] WITH NOCHECK ADD CONSTRAINT [FK_PROAGENTE_IMOBILIARIO_CODPMORA_PROPAIS_CODPAIS] FOREIGN KEY([CODPMORA]) REFERENCES [dbo].[PROPAIS] ([CODPAIS])
ALTER TABLE [dbo].[PROAGENTE_IMOBILIARIO] NOCHECK CONSTRAINT [FK_PROAGENTE_IMOBILIARIO_CODPMORA_PROPAIS_CODPAIS]

ALTER TABLE [dbo].[PROAGENTE_IMOBILIARIO] WITH NOCHECK ADD CONSTRAINT [FK_PROAGENTE_IMOBILIARIO_CODPNASC_PROPAIS_CODPAIS] FOREIGN KEY([CODPNASC]) REFERENCES [dbo].[PROPAIS] ([CODPAIS])
ALTER TABLE [dbo].[PROAGENTE_IMOBILIARIO] NOCHECK CONSTRAINT [FK_PROAGENTE_IMOBILIARIO_CODPNASC_PROPAIS_CODPAIS]

ALTER TABLE [dbo].[PROALBUM] WITH NOCHECK ADD CONSTRAINT [FK_PROALBUM_CODPROPR_PROPROPR_CODPROPR] FOREIGN KEY([CODPROPR]) REFERENCES [dbo].[PROPROPR] ([CODPROPR])
ALTER TABLE [dbo].[PROALBUM] NOCHECK CONSTRAINT [FK_PROALBUM_CODPROPR_PROPROPR_CODPROPR]

ALTER TABLE [dbo].[PROCIDAD] WITH NOCHECK ADD CONSTRAINT [FK_PROCIDAD_CODPAIS_PROPAIS_CODPAIS] FOREIGN KEY([CODPAIS]) REFERENCES [dbo].[PROPAIS] ([CODPAIS])
ALTER TABLE [dbo].[PROCIDAD] NOCHECK CONSTRAINT [FK_PROCIDAD_CODPAIS_PROPAIS_CODPAIS]

ALTER TABLE [dbo].[PROCONTC] WITH NOCHECK ADD CONSTRAINT [FK_PROCONTC_CODPROPR_PROPROPR_CODPROPR] FOREIGN KEY([CODPROPR]) REFERENCES [dbo].[PROPROPR] ([CODPROPR])
ALTER TABLE [dbo].[PROCONTC] NOCHECK CONSTRAINT [FK_PROCONTC_CODPROPR_PROPROPR_CODPROPR]

ALTER TABLE [dbo].[PROPROPR] WITH NOCHECK ADD CONSTRAINT [FK_PROPROPR_CODAGENT_PROAGENTE_IMOBILIARIO_CODAGENT] FOREIGN KEY([CODAGENT]) REFERENCES [dbo].[PROAGENTE_IMOBILIARIO] ([CODAGENT])
ALTER TABLE [dbo].[PROPROPR] NOCHECK CONSTRAINT [FK_PROPROPR_CODAGENT_PROAGENTE_IMOBILIARIO_CODAGENT]

ALTER TABLE [dbo].[PROPROPR] WITH NOCHECK ADD CONSTRAINT [FK_PROPROPR_CODCIDAD_PROCIDAD_CODCIDAD] FOREIGN KEY([CODCIDAD]) REFERENCES [dbo].[PROCIDAD] ([CODCIDAD])
ALTER TABLE [dbo].[PROPROPR] NOCHECK CONSTRAINT [FK_PROPROPR_CODCIDAD_PROCIDAD_CODCIDAD]

GO
