//
// Quidgest Variables
// --------------------------------------------------

$imagesPath: 'assets/img';

$btnPrimaryTextColorHighlight: $white;

/* Chosen */
$chznBackground: $input-bg;
$chznBackgroundImg: none;
$chznBorder: $input-border-color;
$chznBoxShadow: none;
$chznTextColor: $input-color;
