.q-accordion-container {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.q-group-collapsible {
	$this: &;

	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-clip: border-box;
	border: 1px solid $input-border-color;
	background-color: $container;
	border-radius: $border-radius;

	&__header {
		display: flex;
		align-items: center;
		padding: 0.35rem 0.3rem;
		border-bottom: 1px solid $input-border-color;

		.q-btn {
			padding: 0.4rem 0.1rem 0.4rem 0.4rem;
			cursor: pointer;

			&__content {
				justify-content: start;

				span {
					display: flex;
					color: inherit;
					line-height: inherit;
				}
			}
		}
	}

	&__label {
		font-size: 0.9rem;
		letter-spacing: 0.02rem;
		font-weight: 700;
		text-decoration: none;
		line-height: 1.5rem;
		text-transform: uppercase;
		white-space: nowrap;
		padding-left: 0.25rem;
		color: $primary;
	}

	&__content {
		overflow: hidden;
		transition: max-height 0.5s;
	}

	&__inner {
		padding: 1rem;
	}

	&--open {
		#{$this}__content {
			overflow: visible;
		}
	}

	&--audit {
		border: transparent;

		.q-group-collapsible__header {
			border-bottom: transparent;
			padding: 0;

			button.q-btn.q-btn--tertiary {
				&.q-btn--block {
					padding-left: 0;
				}

				span.q-group-collapsible__label {
					font-size: 0.8rem;
					line-height: 0.7;
				}

				.q-icon__svg {
					width: 0.7em;
					height: 0.7em;
				}
			}
		}

		.q-group-collapsible__inner {
			padding: 0.2rem 0.9rem;
		}
	}
}
