{
	"root": true,
	"env": {
		"node": true,
		"commonjs": true,
		"jest": true
	},
	"parser": "vue-eslint-parser",
	"parserOptions": {
		"ecmaVersion": "latest"
	},
	"extends": ["plugin:vue/vue3-strongly-recommended", "eslint:recommended"],
	"rules": {
		"eqeqeq": "error",
		"indent": ["warn", "tab", { "SwitchCase": 1 }],
		"no-console": "warn",
		"no-debugger": "warn",
		"no-fallthrough": "off",
		"no-mixed-spaces-and-tabs": "warn",
		"no-unreachable": "warn",
		"no-unused-vars": "warn",
		"vue/block-lang": ["error", { "script": { "lang": "js" } }],
		"vue/block-order": ["warn", { "order": ["template", "script", "style"] }],
		"vue/custom-event-name-casing": [
			"warn",
			"kebab-case",
			{
				"ignores": ["/^[a-z]+(?:-[a-z]+)*:[a-z]+(?:-[a-z]+)*$/u"]
			}
		],
		"vue/eqeqeq": "error",
		"vue/html-button-has-type": "error",
		"vue/html-closing-bracket-newline": "off",
		"vue/html-indent": ["warn", "tab"],
		"vue/html-self-closing": "off",
		"vue/match-component-import-name": "error",
		"vue/next-tick-style": "warn",
		"vue/no-duplicate-attr-inheritance": "warn",
		"vue/no-empty-component-block": "warn",
		"vue/no-multiple-objects-in-class": "warn",
		"vue/no-potential-component-option-typo": ["error", { "threshold": 2 }],
		"vue/no-ref-object-reactivity-loss": "error",
		"vue/no-required-prop-with-default": "warn",
		"vue/no-restricted-block": ["error", { "element": "style" }],
		"vue/no-template-target-blank": "error",
		"vue/no-this-in-before-route-enter": "error",
		"vue/no-unsupported-features": "error",
		"vue/no-use-v-else-with-v-for": "error",
		"vue/no-useless-mustaches": "warn",
		"vue/no-useless-v-bind": "warn",
		"vue/prefer-prop-type-boolean-first": "error",
		"vue/prefer-true-attribute-shorthand": "warn",
		"vue/require-default-prop": "off",
		"vue/require-expose": "error",
		"vue/require-macro-variable-name": "error",
		"vue/require-name-property": "warn",
		"vue/require-prop-comment": ["warn", { "type": "JSDoc" }],
		"vue/script-indent": [
			"warn",
			"tab",
			{
				"baseIndent": 1,
				"switchCase": 1
			}
		],
		"vue/singleline-html-element-content-newline": "off",
		"vue/valid-define-options": "error",
		"vue/no-undef-components": [
			"error",
			{
				"ignorePatterns": [
					"RouterLink",
					"RouterView",
					"QValidationSummary",
					"QControlWrapper",
					"VFragment",
					"QBadge",
					"QButton",
					"QButtonGroup",
					"QButtonToggle",
					"QField",
					"QIcon",
					"QIconImg",
					"QIconFont",
					"QIconSvg",
					"QStaticText",
					"QPopover",
					"QPageBusyState",
					"QLineLoader",
					"QSelect",
					"QOverlay",
					"QSpinnerLoader",
					"QTooltip",
					"QInfoMessage",
					"BaseInputStructure",
					"QCombobox",
					"QTextField",
					"QPasswordInput",
					"QTextareaInput",
					"QRadioGroup",
					"QNumericInput",
					"QCheckboxInput",
					"QCheckListInput",
					"QToggleInput",
					"QMask",
					"QListBoxInput",
					"QLookup",
					"QInputGroup",
					"QSkeletonLoader",
					"GridBaseInputStructure",
					"QDateTimePicker",
					"QTextEditor",
					"QMultiCheckBoxesInput",
					"QColorPickerInput",
					"QDocument",
					"QImage",
					"QCodeEditor",
					"QGroupBoxContainer",
					"QAccordionContainer",
					"QGroupCollapsible",
					"QRowContainer",
					"QTabContainer",
					"QModalContainer",
					"QFormContainer",
					"QWizard",
					"QAnchorContainerHorizontal",
					"QAnchorContainerVertical",
					"QAnchorElement",
					"QCard",
					"QRenderArray",
					"QRenderBoolean",
					"QRenderData",
					"QRenderHyperlink",
					"QRenderHtml",
					"QRenderImage",
					"QRenderDocument",
					"QEditText",
					"QEditTextMultiline",
					"QEditNumeric",
					"QEditBoolean",
					"QEditDatetime",
					"QEditEnumeration",
					"QEditCheckList",
					"QEditRadio",
					"QPasswordMeter",
					"QProgress",
					"QPropertyList",
					"QTimeline",
					"QDashboard",
					"QCalendar",
					"QCards",
					"QCarousel",
					"QChart",
					"QMap",
					"QTable",
					"QTableRecordActionsMenu",
					"QTableSearch",
					"QTableExport",
					"QTableImport",
					"QTableStaticFilters",
					"QTablePagination",
					"QTablePaginationAlt",
					"QTableLimitInfo",
					"QTableChecklistCheckbox",
					"QTableSelector",
					"QTableColumnFilters",
					"QTableActiveFilters",
					"QTableActions",
					"QTableConfig",
					"QTableViews",
					"QTableViewSave",
					"QTableExtraExtension",
					"QTableViewModeConfig",
					"QGridTableList",
					"QCheckListExtension"
				]
			}
		]
	},
	"overrides": [
		{
			"files": ["*.vue"],
			"rules": {
				"indent": "off"
			}
		}
	],
	"ignorePatterns": ["src/assets/graphics/*"]
}
