# Logs
logs
*.log
pnpm-debug.log*

dist
dist_proto
node_modules
obj

# Output of 'npm pack'
*.tgz

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
